<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.MyBatis.GetUserInfo">
	<select id="GetUser" parameterType="int" resultMap="UserMap">
		select u.id
		as userId,userName,courseName,corp,c.id as courseId,teacher.id as teacherId,TeacherName from user u left
		join UserCourse uc on u.id=uc.User_id left join Course c on
		c.id=uc.Course_id left join teacher on teacher.id=c.Teacher_id where
		u.id=#{id}
	</select>
	<resultMap type="com.netease.MyBatis.User" id="UserMap">
		<constructor>
			<idArg column="userId" javaType="int" />
			<arg column="userName" javaType="String" />
			<arg column="corp" javaType="String" />
		</constructor>
		<collection property="courses" ofType="com.netease.MyBatis.Course">
			<id property="courseId" column="courseId" />
			<result property="courseName" column="courseName" />
			<association property="teacher" column="Teacher_id" javaType="com.netease.MyBatis.Teacher">
				<id property="id" column="teacherId"></id>
				<result property="TeacherName" column="TeacherName" />
			</association>
		</collection>
	</resultMap>
</mapper>